/* глобальные стили */
body {
  min-width: 940px;
  margin: 0;
  padding: 0;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.users-menu-list,
.category-list,
.slides-switches,
.main-navigation ul,
.block-info-list,
.up-footer-links ul,
.social-icons,
.contact-form-list,
.bread-crumbs-list,
.sorting-list,
.catalog-list,
.buy-popup,
.add-product-buttons,
.slide-1,
.slide-2,
.category-list-slider {
  list-style: none;
}

.link-btn {
  width: 252px;
  padding-top: 11px;
  padding-bottom: 12px;
  border-radius: 3px;
  border: none;

  font-size: 14px;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.link-btn:hover {
  background-color: #ca2c37;
}

.link-btn:active {
  background-color: #ba2732;
}

.block-name {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;

  text-transform: uppercase;
}

.block-text {
  margin: 0;
  padding: 0;

  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* /глобальные стили */

/* весь header */
.all-header {
  background-color: #f1f5f7;
}

.up-header-wrapper {
  background-color: #293449;
}

.header-inner {
  display: flex;

  background-color: #293449;
}

/* центровщик */
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* верхняя часть header'a */
.logo {
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: -5px;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-form {
  flex: 1;
  position: relative;
}

input[type=search] {
  box-sizing: border-box;
  width: 270px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;

  background-color: #293449;
  border: none;

  color: #ffffff;
}

.search input:hover {
  background: #212a3a;
}

.search input:focus {
  background: #ffffff;
  color: #000000;
}

.search-label {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;
}

.search:hover path {
  fill: #e96113;
}

.search:active path,
.search:focus path {
  fill: #ee3643;
}

.bookmark {
  width: 105px;
  padding-top: 12px;
  padding-left: 45px;

  background-image: url(../img/icon-bookmark.svg);
  background-position-x: 17px;
  background-position-y: 12px;
  background-repeat: no-repeat;

  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
}

.bookmark:hover {
  background-color: #212a3a;
}

.bookmark:active {
  background-color: #161d29;
  color: #8b8e94;
}

.basket {
  width: 100px;
  padding-top: 12px;
  padding-left: 50px;

  background-image: url(../img/icon-cart.svg);
  background-position-x: 18px;
  background-position-y: 12px;
  background-repeat: no-repeat;

  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
}

.basket:hover {
  background-color: #212a3a;
}

.basket:active {
  background-color: #161d29;
  color: #8b8e94;
}

.basket-full {
  background-color: #ee3643;
}

.order-form-link {
  width: 150px;
  padding-top: 12px;
  text-align: center;
  font-size: 17px;
  line-height: 18px;

  background-color: #63a63e;
}

.order-form-link:hover {
  background-color: #5fbb2d;
}

.order-form-link:active {
  background-color: #518534;
}

.order-form-link:focus {
  background-color: #63a63e;
}

/* /верхняя часть header'a */

/* нижняя часть header'a */
.header-container {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.headline {
  width: 250px;
  margin: 0px;
  padding-top: 46px;
  padding-bottom: 40px;
  padding-left: 50px;

}

.headline h1,
.headline p {
  margin: 0;
  padding: 0;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;

  color: #ee3643;
}

.header-contacts {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 46px;
}

.phone {
  background-image: url(../img/icon-phone.svg);
  background-position-x: 13px;
  background-position-y: center;
  background-repeat: no-repeat;

  font-size: 21px;
  line-height: 21px;

  color: #e9292a;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 47px;
  border: 3px solid #ffffff;
}

.address {
  margin: 0;
  font-size: 14px;
  line-height: 24px;

  color: #32425c;
}

/* меню пользователя */
.users {
  display: flex;
  justify-content: flex-end;

  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 46px;
  padding-bottom: 65px;
}

.users-menu {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;

  border: none;
  background-color: #ffffff;
  display: block;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.users-menu-cabinet {
  width: 300px;
  margin: 0;
  padding: 0;

  padding-top: 46px;
}

.users-menu-link {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 12px;
  margin-bottom: 7px;

  background-color: #ffffff;
}

.users-menu-login {
  margin-right: 10px;
  padding-left: 48px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position-x: 14px;
  background-position-y: center;
}

.users-menu-profile {
  padding-left: 48px;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position-x: 14px;
  background-position-y: center;
  padding-right: 19px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.users-menu-logout {
  padding-left: 20px;
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}

.users-menu-login:hover {
  background-image: url(../img/icon-login-dark.svg);
}

.users-menu-profile:hover {
  background-image: url(../img/icon-user-dark.svg);
}

.users-menu-logout:hover {
  background-image: url(../img/icon-logout-dark.svg);
}

.users-menu:hover {
  color: #ee3643;
}

.users-menu:active {
  color: #c5c5c5;
}

.users-link {
  margin: 0;
  padding-top: 6px;
  padding-right: 24px;

  font-size: 16px;
  line-height: 18px;

  color: #32425c;
}

.users-link:hover {
  text-decoration: underline;
  color: #ee3643;
}

.order {
  margin-right: 33px;
  padding-left: 18px;
  color: #32425c;
}

.profile {
  margin-right: 24px;
  color: #32425c;
}

.order:hover,
.profile:hover {
  text-decoration: underline;
  color: #ee3643;
}

.order:active,
.profile:active {
  text-decoration: underline;
  color: #c5cad0;
}

.point {
  width: 5px;
  height: 5px;
  margin-left: 15px;
  margin-bottom: 2px;
  background: #32425c;
  border-radius: 50px;
}

/* /меню пользователя */
/* /нижняя часть header'a */

/* главное меню */
.main-navigation {
  width: 940px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.main-navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
  color: #ffffff;
}

.main-navigation a {
  display: block;
  padding: 19px 30px;

  vertical-align: middle;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  background-color: #1d2739;
  color: #93969c;
}

/* /главное меню */

/* слайдер */
.sliders-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 54px;
}

.category-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 123px;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 0;
}

.slider {
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;

  position: relative;
}

.category-list-slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 266px;
  margin: 0;
  padding: 0;
}

.category-item {
  width: 278px;
  padding-bottom: 22px;
  padding-top: 22px;
  padding-left: 22px;

  background-repeat: no-repeat;
  background-position-y: center;
}

.category-list h2,
.category-list-slider h2 {
  margin: 0;
  padding-bottom: 8px;

  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.category-item-yellow {
  background-color: #ffbf47;
}

.category-item-pail {
  background-image: url(../img/icon-pail.svg);
  background-position-x: 213px;
}

.category-item-blue {
  background-color: #3bbce3;
}

.category-item-tool {
  background-image: url(../img/icon-tool.svg);
  background-position-x: 197px;
}

.category-item-violet {
  background-color: #dc91d8;
}

.category-item-technics {
  background-image: url(../img/icon-technics.svg);
  background-position-x: 191px;
}

.category-item-green {
  background-color: #8ed78f;
}

.category-item-basket {
  background-image: url(../img/icon-basket.svg);
  background-position-x: 213px;
}

.category-item-car {
  background-image: url(../img/icon-car.svg);
  background-position-x: 191px;
}

.category-btn {
  width: 135px;
  padding-top: 11px;
  padding-bottom: 12px;
  border-radius: 3px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  display: block;

  font-size: 14px;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.category-btn:hover {
  background-color: rgb(0, 0, 0, 0.2);
}

.category-btn:active {
  background-color: rgb(0, 0, 0, 0.3);
}

.slide {
  position: relative;
  height: 266px;
  display: none;

  color: #ffffff;
}

.slide-img {
  position: absolute;
  z-index: -100;

  top: 0;
}

.slide-header,
.slide-text {
  padding-left: 25px;
}

.slide-header {
  margin: 0;
  padding-top: 25px;

  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;
}

.slide-text {
  margin: 0;

  font-size: 18px;
  line-height: 34px;
}

.slider-nav {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 36px;
}

.slider-nav-btn-prev,
.slider-nav-btn-next {
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  background: #ffffff;
  border-radius: 50%;
  display: inline-block;
  padding: 0;
}

.slider-nav-btn-next {
  background: #ee3643;
  margin-left: 10px;
}

.slider-nav-btn-arrow {
  position: absolute;
  bottom: 80px;
  display: block;
  width: 30px;
  height: 30px;

  background: none;
  border: none;
}

.slider-nav-btn-arrow-prev {
  left: 23px;
  transform: rotate(45deg);
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
}

.slider-nav-btn-arrow-next {
  right: 23px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}

.open-catalog {
  width: 195px;
  position: absolute;
  left: 32px;
  bottom: 22px;
}

/* /слайдер */

/* хлебные крошки */
.bread-crumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 24px;

  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  text-transform: uppercase;
}

.bread-crumbs-list a {
  color: #000000;
}

.bread-crumbs-item-first {
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: center;
}

.bread-crumbs-item,
.bread-crumbs-item-last {
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: center;
}

.bread-crumbs-item-first::before,
.bread-crumbs-item::before,
.bread-crumbs-item-last::before {
  content: "";

  padding-left: 16px;
}

.bread-crumbs-item-first::after,
.bread-crumbs-item::after,
.bread-crumbs-item-last::after {
  content: "";

  padding-left: 16px;
}

/* /хлебные крошки */

/* основной контент*/
/* популярные */
.popular-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
  padding: 30px;

  background-color: #f9f5f0;
}

.popular-header {
  margin: 0;
  padding: 0px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  color: #32425c;
}

.catalog-list a {
  color: #000000;
}

.popular-catalog-list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
}

.catalog-item {
  width: 220px;
  border: 1px solid #eaeaea;
}

.price-new {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 36px;
  position: relative;
  border-radius: 5px 0 0 5px;

  background: #ee3643;
}

.price-new a {
  color: #ffffff;

}


.price-new:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #ee3643;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.popular-brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-brand {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 218px;
  height: 148px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  border: 1px solid #eaeaea
}

/* /популярные */
/* сервисы */
.servises {
  width: 100%;
  background-color: #f4f8f9;

  margin-bottom: 78px;
}

.servises-container-text {
  padding-top: 63px;
  padding-bottom: 28px;
}

.servises-slider {
  display: flex;
  position: relative;
  padding-bottom: 98px;
}

.servises-slide {
  width: 100%;
  padding-left: 80px;
  padding-right: 240px;

  display: none;
}

.servises-slide-heder {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;

  color: #32425c;
}

.servises-slide-img {
  position: absolute;
  top: 0;
  right: 0;
}

.servises-slider-nav {
  display: flex;
  flex-direction: column;
}

.servises-slider-btn {
  width: 240px;
  margin: 0;
  padding: 0;
  padding-left: 23px;
  padding-bottom: 16px;
  padding-top: 16px;

  background-color: #32425c;

  border: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;

  color: #ffffff;
}

.servises-slider-btn-active {
  background-color: #ffffff;
  border: none;

  color: #293449;
}

.credit-application {
  width: 195px;
  position: absolute;
  left: 320px;
  bottom: 0px;
}

.slide-active {
  display: block;
}

/* /сервисы */

/* блок  информации */
.block-info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 86px;
}

.block-info-list {
  margin: 0;

  font-size: 18px;
  line-height: 20px;
}

.block-info-list li:nth-last-child(1) {
  margin-bottom: 20px;
}

.block-info-about {
  width: 540px;
}

.block-info-about p:nth-of-type(2n+1) {
  margin-bottom: 20px;
}

.block-info-list li {
  position: relative;

  padding-bottom: 20px;
}

.block-info-list li::before {
  content: '';

  position: absolute;
  left: -36px;
  top: 10px;
  display: block;
  width: 25px;
  height: 2px;

  background: #fb565a
}

.about-btn {
  display: inline-block;
  width: 220px;
}

.block-info-contacts {
  width: 300px;
}

.map {
  margin-top: 27px;
  margin-bottom: 40px;
}

.help-btn {
  display: block;
  width: 300px;
}

/* /блок  информации */
/* товары */
.catalog-wrapper {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  /* на время разметки */
  /* background-color: rgba(255, 0, 0, 0.26) */
}

.filters-form {
  width: 220px;

  /* на время разметки */
  /* background-color: rgba(229, 255, 0, 0.26) */
}

.catalog {
  width: 700px;
  display: flex;

/* на время разметки */
  /* background-color: rgba(4, 0, 255, 0.26) */
}

.product-group {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.sorting {
  display: flex;

  margin: 0;
  padding: 0;
  background: #f7f3ec;
  border-radius: 3px;
}

.sorting-list {
  display: flex;

  margin: 0;
  padding: 0;

  color: #000;
}

.sorting-item {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filters-header {
  margin: 0;
  padding: 0;

  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filters {
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 18px;

  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.filters h3 {margin-right: auto;}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
}

fieldset:nth-last-child(2) {
  border: none;
}

.price-choise,
.products-choise {
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-form-text {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

/* /основной контент*/
/* футер */
.main-footer {
  background-color: #32425c;
}

.up-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.up-footer-logo {
  width: 330px;
}

.logo-footer {
  padding-top: 21px;
  padding-bottom: 21px;
  margin-bottom: 29px;
  display: inline-block;
}

.up-footer-links {
  width: 560px;
  padding-top: 38px;
}

.up-footer-links ul {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-bottom: 34px;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;

  color: #ffffff;
}

.footer-navigation-item-top {
  padding-left: 3px;
  color: #ffffff;
}

.footer-navigation-item-bottom {
  padding-left: 26px;
  color: #ffd180;
}

.footer-navigation-item-top:hover,
.footer-navigation-item-bottom:hover {
  text-decoration: underline;
}

.footer-navigation-item-top:active {
  color: #c5c5c5;
}

.footer-navigation-item-bottom:active {
  color: #ad956f;
}

.lower-footer-wrapper {
  background-color: #293449;
  padding-top: 35px;
  padding-bottom: 30px;
}

.lower-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

.footer-copyright {
  width: 230px;
  margin: 0;
  padding: 0;

  color: #ffffff;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 41px;
  height: 41px;

  background-color: #212a3a;
  border-radius: 50%;

  color: #ffffff;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.social-icons li:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.footer-text {
  display: flex;
  justify-content: space-around;

  width: 300px;
  margin: 0;
  padding: 0;
}

.footer-text p {
  margin: 0;
}

.footer-important-link {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;

  display: block;
}

.footer-important-link:hover {
  text-decoration: underline;
}

.footer-important-link:active {
  text-decoration: none;
  color: #ee3643;
}

/* /футер */
/* форма обр связи */
.contact-form {
  position: relative;
  width: 610px;
  border-top: 10px solid #ee3643;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.25);

  /* display: none; */

  background-color: #ffffff;
  /* на время разметки */
  margin-bottom: 50px;
}

.contact-form-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 48px;
  padding-bottom: 37px;

  font-size: 18px;
  line-height: 18px;
}

.contact-form-list:last-child {
  width: 100%;
}

.contact-form-item {
  width: 215px;
  padding-bottom: 22px;
}

.contact-form-list li:nth-child(2n+1):not(:last-child) {
  padding-right: 20px;
}

.contact-form-item-letter {
  width: 100%;
}

.name-field,
.mail-field,
.letter-field {
  display: block;
  padding-bottom: 7px;
}

.contact-form-list textarea {
  width: 100%;
  box-sizing: border-box;
}

.contact-form-item input,
.contact-form-item-letter textarea {
  width: 100%;
  padding-left: 14px;
  padding-top: 9px;
  padding-bottom: 7px;
  box-sizing: border-box;
  resize: none;

  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #999999;

  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.contact-form-list input:hover,
textarea:hover {
  border-color: #b5b5b5;
}

.contact-form-list input:focus,
textarea:focus {
  border-color: #ee3643;
}

.contact-form-send {
  padding-top: 23px;
  padding-bottom: 29px;
  text-align: center;

  background-color: #f1f1f1;
}

.send {
  width: 460px;
}

.send:hover {
  background-color: #b22832;
}

.close {
  margin: 0;
  padding: 0;

  position: absolute;
  top: 22px;
  right: 21px;

  width: 22px;
  height: 22px;
  border: none;
  background: none;

  background-image: url(../img/icon-close.svg);
  background-repeat: no-repeat;
}

/* /форма обр связи */
